# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* List popular languages for Data Science
* List popular Data Science Tools
* list some of the commonly used libraries used by Data Scientists
* Share a notebook through GitHub
* Insert code and markdown cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Matplotlib
4. Numpy

|Data Science Tools|
|--------------|
|Jupyter Notebook|
|RStudio|
|Apache hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#  This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Lukman